* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

@media (max-width: 800px) {
  .portfolio {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    max-height: unset;
    max-width: 440;
    padding: 16px;
  }
}

a {
  text-decoration: none;
}

.header {
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px rgb(33, 33, 33) solid;
}

.containerHeader {
  align-content: center;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  gap: 10px;
}

.containerHeader a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  background-color: #a290fc;
  width: 95px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
}
.iconHeader {
  width: 5px;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

/* perfil */

.perfil {
  /*   display: flex;

 */
  object-fit: cover;
  height: min-content;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  margin-top: 20px;
  border-radius: 10px;
  min-height: 180px;
  padding: 20px;
  border: 1px rgb(33, 33, 33) solid;
}

.containerPerfil {
  display: flex;
  gap: 20px;
}

.txtPerfil {
  color: white;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  display: grid;
  gap: 10px;
}

.textDisponible {
  border: white;
}

.imgPerfil {
  width: 110px;
  background-color: #a290fc;
  border-radius: 10px;
}

/* info perfil */

.fondoInfo {
  padding: 6px 14px 6px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  height: min-content;
  justify-content: center;
  overflow: visible;
  position: relative;

  border-radius: 10px;
  border: 1px rgb(33, 33, 33) solid;
}

.developer {
  color: #a290fc;
}

.textInfo {
  color: #cccccc;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.infoDate {
  padding: 15px 10px 16px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.redes {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.container-redes {
  /* matiene las cajas iguales */
  flex: 1 0 0px;
  margin-top: 20px;
  flex-wrap: nowrap;
  background-color: #141414;
  padding: 15px 10px 16px;
  border-radius: 5px;
  display: flex;
  height: auto;
}

.redestext p {
  font-family: "Manrope", sans-serif;

  color: #999999;
}
/* .................... NUMEROS...................... */

.numeros {
  align-items: unset;
  align-content: unset;
  display: grid;
  flex: none;
  gap: 10px;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  order: 1;
  height: auto;
  margin-top: 20px;
}

.numP p {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "Manrope", sans-serif;

  color: white;
  background: #c9cfc6;
  background: linear-gradient(to bottom, #c9cfc6 0%, #020000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectsNum {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 6px 10px;
  position: relative;
  width: 100%;
}

.txtN {
  padding: 6px 10px;
  width: 100%;
  height: min-content;
  display: flex;

  font-family: "Manrope", sans-serif;
  border-radius: 10px;
  border: 1px rgb(33, 33, 33) solid;
  color: white;
  font-size: 13px;
}

.containerNum {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: visible;
  padding: 10px;
  position: relative;
  background-color: #141414;
  border-radius: 16px;
  height: 100%;
  width: 100%;

  opacity: 1;
}

.numBox {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
}
